*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-image: url(./Pasted\ image\ \(2\).png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
 body{
    overflow-x: hidden;
 }
nav{
    background-color: #ff3;
    box-shadow: 10px 10px  rgba(0, 0, 0, 0.1);
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    height: 10vh;
    padding: 3rem
}
/* nav ul li{
    height: 50px;
} */
ul li:first-child{
    margin-right: auto;
    
}
ul a:first-child{
    text-decoration: none;
    color: rgba(0, 0, 0, 1.2);
}
nav ul li .hide{
    text-decoration: none;
    align-items: center;
    padding: 0 30px;
    color: black;
    /* height: 100%; */
}
nav .hide:hover{
    background-color: #f0f0f0;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    backdrop-filter: blur(10px);
    background-color: #ff3;
    box-shadow: -3px 0px 10px rgba(225,225,255,1.0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 56px;
}
section {
    padding: 2rem;
    background: white;
    margin: 1rem;
    border-radius: 8px;
  }
  .container{
    display: flex;
    justify-content: space-evenly; 
  }
  .red{
        text-align: center;
    position: relative;
    top: 111px;
  }
  .container img{
    box-shadow: 2px 3px 4px 6px;
  }
  .red p{
    text-transform: capitalize;
    font-family: serif;
  }
  #about{
     background-color: gray;
  }
  .card{
    margin-top: 2rem;
}
#projects{
    display: flex;
    justify-content: space-around;
    font-family: serif;
    text-transform: capitalize;
    color: black;
}
.projects{
    /* background-color: #DBDBDB; */
    padding: 1rem;
    /* border-radius: 10px; */
    margin-top: 3rem;
}
h4{
    text-align: center;
    font-family: sans-serif;
}
.contact{
    text-align: center;
    position: relative;
    top: 12rem;
    font-size: 21px;
    font-family: sans-serif;
}

#contact{
    display: flex;
    flex-direction: row;
    background-color: #DBDBDB;
    margin-top: 3rem;
    min-height: 80vh;
    justify-content: space-around;
}
.mode button{
    border: none;
    background-color: none;
}
footer{
    background-color: #ff3;
    text-align: center;
    padding: 2rem;
    min-height: 26vh;
    

}
#footer{
    display: flex;
    justify-content: center;
    gap: 3rem;
    
}
.footer a{
    color: #F72798;
}
footer p{
    margin-top: 3rem;
    font-family: serif;
    text-transform: capitalize;
}
.face a:hover{
    color: #003092;
}
.insta a:hover{
    color: #FF204E;
}
.twitter a:hover{
    color: #003092
}
.tik a:hover{
    color: #181C14;
}
@media  (max-width:800px){
    .container{
    display: flex;
    flex-direction: column;
  }
  .container img{
    height: 40vh;
    width: auto;
  }
  #about{
    min-height: 100vh;
  }
  #contact{
    display: flex;
    flex-direction: column;
  }
  .contact{
    font-size: 16px;
       padding-top: 36px;
        position: relative;
        top: -28px;
}

  #map{
    width: auto;
    height: 300px;
  }
    .hid{
        display: none;
    }
   
  
}
